*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;      
    display: flex;          
    justify-content: center; 
    align-items: center;    
    padding: 20px;          
}
.Container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
background-color: green;
color: white;
display: flex;
justify-content: center;
padding: 16px;
border :  1px  solid black;
border-radius: 24px;
text-align: center;
}

.cards {

    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}

.cards__1 {

    display: flex;
    background-color: black;
    color: white;
    padding: 32px;
    border-radius: 24px;
    border-right: 6px  solid green;
    border-bottom: 6px  solid green;
}

.cards__title {
display: flex;
flex-direction: column;
align-items: center;
}

.cards__1__list {
padding-top: 24px;
display: flex;
flex-direction: column;
gap: 8px ;
}

.cards__1__list img {
    height: 18px;
    width: 18px;
}
.cards__1__list__one {
    display: flex;
    gap: 16px;
}